* {
    margin:0;
    padding:0;
}
body {
    background-color: #222222;
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display:flex;
    margin:10px;
    padding:4px;
    width:98%;
    height: 200px;
    background: url(../imagery/header.png);
    background-size: 100%;
    color:white;
    justify-content: center;
    align-items: center;
}
nav {
    width:98.5%;
    margin:10px;
    background: #333333;
    display: flex;
    justify-content: space-around;
}
nav > ul {
list-style: none;
}
.menu >li {
    margin:0px 10px 0px 10px;
    position:relative;
    display: inline-block;
}
.menu > li > .submenu {
    list-style: none;
}
.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color:#4a81ee;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menu li a:hover {
 color:#2b9ee0;
 background-color: #555555;
 transition:all .4s;
}
.submenu {
    position: absolute;
    background: #656D4A;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.submenu li a {
    display: block;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a4ac86;
    text-decoration: none;
}
.menu li:hover .submenu{
 visibility: visible;
 opacity: 1;
}
h2 {
    font-size: 30px;
    padding-right: 20px;
}


.emprendedor{
width: 30%;
margin: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
}
.centro_personas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}