* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #D8D8D8;
}

header #mayor-list {
    display: flex;
    width: 95%;
    margin: 20px auto;
    background-color: #FFFFEA;
    list-style: none;
    justify-content: space-around;
}

header #mayor-list > li {
    display: inline-block;
    
}

header #mayor-list > li > a {
    display: block;
    padding: 15px 20px;
    color: #00CECB;
    font-family: 'Open-sans';
    text-decoration: none;
}

header #mayor-list  li>a:hover {
    color: #FF5E5B;
    transition: all .4s;
}

header #mayor-list li ul {
    list-style: none;
    position: absolute;
    background: #333333;
    display: none;
}
header #mayor-list li ul >li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Open-sans';
}
header #mayor-list li:hover > ul {
    display: block;
    flex-direction: column;
    transition: all .4s; 
}